:root{
    --main-color: #283246;
    --second-color: #ff554b;
    --third-color: #7f8998;
}

@counter-style right-arrow {
    system: cyclic;
    symbols: "\2B8A";
    suffix: " ";
  }

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}

body {
    width: 100%;
    background-color : #92948f;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
}

.italic {
    font-style: italic;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    color: var(--main-color);
    height: fit-content;
}

ul img {
    margin: 1em;
}

nav .rowmenu {
    justify-content: space-between;
}

.dropdown {
    display: flex;
}

.dropdown li {
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: var(--second-color);
    border: 1px, solid, var(--second-color);
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0.6rem;
    position: relative;
}

.dropdown li a {
    text-decoration: none;
    color: whitesmoke;
}

.dropdown li li{
    background-color: whitesmoke;
    color: var(--second-color);
    border: none;
}

.dropdown li li a{
    background-color: whitesmoke;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
    position: relative;
}


.dropdown li:hover {
    color: whitesmoke;
    background-color: var(--main-color) ;
}

.dropdown li li:hover {
    color: var(--main-color);
    background-color: whitesmoke;
}

.dropdown li li a:hover {
    color: var(--main-color);
    background-color: whitesmoke;
    font-weight: bolder;
}

.dropdown li:hover > ul {
    display: block;
    background-color: whitesmoke;
}

.dropdown ul {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120%;
}

.gridDiv1 { 
    grid-area: 1 / 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2.5rem;
    font-weight: bold;
}

.gridDiv1 , .gridDiv1 p, .gridDiv2 p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.gridDiv2 { 
    grid-area: 2 / 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: lighter;
    font-style: italic;
    padding: 0;
}

.gridDiv2 li {
    font-size: 0.4rem;
}

.gridDiv2 li:first-child{
    margin-left: 1.5rem;
}

.gridDiv3 { 
    grid-area: 4 / 2;
    padding: 0;
}

.gridParent {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 33%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
    width: 90%;
}

.profilPicture {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    float: left;
    line-height: 1;
    margin-right: 2rem;
}


.profilPicture img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.rowMenu {
    display: flex;
    padding: 0;
    margin: 0;
}
    
.rowMenu li {
    list-style : none;
}

.twoColContainer{
    width: 75%;
    display: flex;
    border-bottom: 2px solid var(--main-color);
}

/* MAIN */
main {
    background-color: whitesmoke;
    text-align: justify;
}

main h2 {
    text-align : center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
}

main h3 {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--second-color);
}

main p {
    margin-left: 3rem;
    margin-right: 3rem;
}

main img {
    width: 30%;
}


ul ul {
    list-style-type: right-arrow;
}

.anchor a{
    display: block;
    position: relative;
    top: -12rem;
    visibility: hidden;
}

a.visible{
    display: inline;
    top: 0;
    visibility: visible;
}

/* FOOTER */
footer {
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    height: fit-content;
}